<!DOCTYPE html>
<html>
<head>
  <title>Aiden</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="row">
<nav>
	<%= render :partial => 'layouts/navbar' %>
</nav>
<div class='flasherrors'>
	<span class="flash"><%= flash[:error] %></span>
</div>
<%= yield %>

</body>
</html>
